In [98]:
%logstop
%logstart -rtq ~/.logs/DS_Pandas.py append
%matplotlib inline
import matplotlib
import seaborn as sns
sns.set()
matplotlib.rcParams['figure.dpi'] = 100

Logging hadn't been started.

C:\Users\User\anaconda3\lib\site-packages\IPython\core\magics\logging.py:130: UserWarning: Couldn't start log: [Errno 2] No such file or directory: 'C:\\Users\\User/.logs/DS_Pandas.py'
  warn("Couldn't start log: %s" % sys.exc_info()[1])

In [99]:
import expectexception

ModuleNotFoundError: No module named 'expectexception'

# Pandas

<!-- requirement: data/yelp.json.gz -->
<!-- requirement: data/PEP_2016_PEPANNRES.csv -->

In [9]:
import pandas as pd

We introduced the Pandas module and the DataFrame object in the lesson on [basic data science modules](DS_Basic_DS_Modules.ipynb). We learned how to construct a DataFrame, add data, retrieve data, and [basic reading and writing to disk](DS_IO.ipynb). Now we'll explore the DataFrame object and its powerful analysis methods in more depth.

We'll work with a data set from the online review site, Yelp. The file is stored as a compressed JSON file.

In [10]:
y!ls -lh ./data/yelp.json.gz

SyntaxError: invalid syntax (<ipython-input-10-1b5667800aa4>, line 1)

In [100]:
import gzip
import simplejson as json

with gzip.open('./data/yelp.json.gz', 'r') as f:
    yelp_data = [json.loads(line) for line in f]
    
yelp_df = pd.DataFrame(yelp_data)
yelp_df.head()

ModuleNotFoundError: No module named 'simplejson'

## Pandas DataFrame and Series

The Pandas DataFrame is a highly structured object. Each row corresponds with some physical entity or event. We think of all of the information  in a given row as referring to one object (e.g. a business). Each column contains one type of data, both semantically (e.g. names, counts of reviews, star ratings) and syntactically.

In [12]:
yelp_df.dtypes

NameError: name 'yelp_df' is not defined

We can reference the columns by name, like we would with a `dict`.

In [13]:
yelp_df['city'].head()

NameError: name 'yelp_df' is not defined

In [14]:
type(yelp_df['city'])

NameError: name 'yelp_df' is not defined

An individual column is a Pandas `Series`. A `Series` has a `name` and a `dtype` (similar to a NumPy array). A `DataFrame` is essentially a `dict` of `Series` objects. The `Series` has an `index` attribute, which label the rows. The index is essentially a set of keys for referencing the rows. We can have an index composed of numbers, strings, timestamps, or any hashable Python object. The index will also have homogeneous type.

In [15]:
yelp_df['city'].index

NameError: name 'yelp_df' is not defined

The `DataFrame` has an `index` given by the union of indices of its constituent `Series` (we'll explore this later in more detail). Since a `DataFrame` is a `dict` of `Series`, we can select a column and then a row using square bracket notation, but not the reverse (however, the `loc` method works around this).

In [16]:
# this works
yelp_df['city'][100]

NameError: name 'yelp_df' is not defined

In [17]:
%%expect_exception KeyError

# this doesn't
yelp_df[100]['city']

UsageError: Cell magic `%%expect_exception` not found.

In [18]:
yelp_df.loc[100, 'city']

NameError: name 'yelp_df' is not defined

Understanding the underlying structure of the `DataFrame` object as a `dict` of `Series` will help you avoid errors and help you think about how the `DataFrame` should behave when we begin doing more complicated analysis.

We can _aggregate_ data in a `DataFrame` using methods like `mean`, `sum`, `count`, and `std`. To view a collection of summary statistics for each column we can use the `describe` method.

In [19]:
yelp_df.describe()

NameError: name 'yelp_df' is not defined

The utility of a DataFrame comes from its ability to split data into groups, using the `groupby` method, and then perform custom aggregations using the `apply` or `aggregate` method. This process of splitting the data into groups, applying an aggregation, and then collecting the results is [discussed in detail in the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/groupby.html), and is one of the main focuses of this notebook.

## DataFrame construction

Since a `DataFrame` is a `dict` of `Series`, the natural way to construct a `DataFrame` is to use a `dict` of `Series`-like objects.

In [20]:
from string import ascii_letters, digits
import numpy as np
import datetime

In [21]:
usernames = ['alice36', 'bob_smith', 'eve']

passwords = [''.join(np.random.choice(list(ascii_letters + digits), 8)) for x in range(3)]
creation_dates = [datetime.datetime.now().date() - datetime.timedelta(int(x)) for x in np.random.randint(0, 1500, 3)]

In [23]:
df = pd.DataFrame({'username': usernames, 'password': passwords, 'date-created': pd.to_datetime(creation_dates)})
df

    username  password date-created
0    alice36  LBVIzqTj   2019-08-09
1  bob_smith  OnPk891p   2017-06-21
2        eve  Uw4fArcv   2020-02-12

In [24]:
df.dtypes

username                object
password                object
date-created    datetime64[ns]
dtype: object

The `DataFrame` is also closely related to the NumPy `ndarray`.

In [25]:
random_data = np.random.random((4,3))
random_data

array([[0.85488534, 0.0074186 , 0.09169387],
       [0.86299412, 0.83451952, 0.71838011],
       [0.55249071, 0.04756721, 0.28942959],
       [0.28532868, 0.35808064, 0.64957392]])

In [26]:
df_random = pd.DataFrame(random_data, columns=['a', 'b', 'c'])
df_random

          a         b         c
0  0.854885  0.007419  0.091694
1  0.862994  0.834520  0.718380
2  0.552491  0.047567  0.289430
3  0.285329  0.358081  0.649574

To add a new column or row, we simply use `dict`-like assignment.

In [27]:
emails = ['alice.chan@gmail.com', 'bwsmith1983@gmail.com', 'fakemail123@yahoo.com']
df['email'] = emails
df

    username  password date-created                  email
0    alice36  LBVIzqTj   2019-08-09   alice.chan@gmail.com
1  bob_smith  OnPk891p   2017-06-21  bwsmith1983@gmail.com
2        eve  Uw4fArcv   2020-02-12  fakemail123@yahoo.com

In [28]:
# loc references index value, NOT position
# for position use iloc
df.loc[3] = ['2015-01-29', '38uzFJ1n', 'melvintherobot', 'moviesrgood@moviesrgood.com']
df

     username  password         date-created                        email
0     alice36  LBVIzqTj  2019-08-09 00:00:00         alice.chan@gmail.com
1   bob_smith  OnPk891p  2017-06-21 00:00:00        bwsmith1983@gmail.com
2         eve  Uw4fArcv  2020-02-12 00:00:00        fakemail123@yahoo.com
3  2015-01-29  38uzFJ1n       melvintherobot  moviesrgood@moviesrgood.com

We can also drop columns and rows.

In [29]:
df.drop(3)

    username  password         date-created                  email
0    alice36  LBVIzqTj  2019-08-09 00:00:00   alice.chan@gmail.com
1  bob_smith  OnPk891p  2017-06-21 00:00:00  bwsmith1983@gmail.com
2        eve  Uw4fArcv  2020-02-12 00:00:00  fakemail123@yahoo.com

In [30]:
# to drop a column, need axis=1
df.drop('email', axis=1)

     username  password         date-created
0     alice36  LBVIzqTj  2019-08-09 00:00:00
1   bob_smith  OnPk891p  2017-06-21 00:00:00
2         eve  Uw4fArcv  2020-02-12 00:00:00
3  2015-01-29  38uzFJ1n       melvintherobot

Notice when we dropped the `'email'` column, the row at index 3 was in the `DataFrame`, even though we just dropped it! Most operations in Pandas return a _copy_ of the `DataFrame`, rather than modifying the `DataFrame` object itself. Therefore, in order to permanently alter the `DataFrame`, we either need to reassign the `df` variable, or use the `inplace` keyword.

In [31]:
df.drop(3, inplace=True)
df

    username  password         date-created                  email
0    alice36  LBVIzqTj  2019-08-09 00:00:00   alice.chan@gmail.com
1  bob_smith  OnPk891p  2017-06-21 00:00:00  bwsmith1983@gmail.com
2        eve  Uw4fArcv  2020-02-12 00:00:00  fakemail123@yahoo.com

Since the `index` and column names are important for interacting with data in the DataFrame, we should make sure to set them to useful values. We can do this during construction or after.

In [32]:
df = pd.DataFrame({'email': emails, 'password': passwords, 'date-created': creation_dates}, index=usernames)
df.index.name = 'users' # it can be helpful to give the index a name
df

                           email  password date-created
users
alice36     alice.chan@gmail.com  LBVIzqTj   2019-08-09
bob_smith  bwsmith1983@gmail.com  OnPk891p   2017-06-21
eve        fakemail123@yahoo.com  Uw4fArcv   2020-02-12

In [33]:
# alternatively
df = pd.DataFrame(list(zip(usernames, emails, passwords, creation_dates)))
df

           0                      1         2           3
0    alice36   alice.chan@gmail.com  LBVIzqTj  2019-08-09
1  bob_smith  bwsmith1983@gmail.com  OnPk891p  2017-06-21
2        eve  fakemail123@yahoo.com  Uw4fArcv  2020-02-12

In [34]:
df.columns = ['username', 'email', 'password', 'date-created']
df.set_index('username', inplace=True)
df

                           email  password date-created
username
alice36     alice.chan@gmail.com  LBVIzqTj   2019-08-09
bob_smith  bwsmith1983@gmail.com  OnPk891p   2017-06-21
eve        fakemail123@yahoo.com  Uw4fArcv   2020-02-12

In [ ]:
# to reset index to a column
df.reset_index(inplace=True)
df

We can have multiple levels to an index. We'll discover that for some data sets it is necessary to have multiple levels to the index in order to uniquely identify a row.

In [ ]:
df.set_index(['username', 'email'])

### Reading data from file

We can also construct a DataFrame using data stored in a file or received from a website. The data source might be [JSON](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_json.html), [HTML](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_html.html), [CSV](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html#pandas.read_csv), [Excel](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_excel.html), [Python pickle](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_pickle.html), or even a [database connection](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_sql.html). Each format will have its own methods for reading and writing data that take different arguments. The arguments of these methods usually depend on the particular formatting of the file. For example, the values in a CSV might be separate by commas or semi-colons, it might have a header or it might not.

The `read_csv` method has to deal with the most formatting possibilities, so we will explore that method with a few examples. Try to apply these ideas when working with other file formats, but keep in mind that each format and read method is different. Always check [the Pandas documentation](http://pandas.pydata.org/pandas-docs/stable/io.html) when having trouble with reading or writing data.

In [103]:
csv = [','.join(map(lambda x: str(x), row)) for row in np.vstack([df.columns, df])]
with open('./data/read_csv_example.csv', 'w') as f:
    [f.write(line + '\n') for line in csv]

!cat ./data/read_csv_example.csv

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [96]:
pd.read_csv('./data/read_csv_example.csv')

                   email  password date-created
0   alice.chan@gmail.com  LBVIzqTj   2019-08-09
1  bwsmith1983@gmail.com  OnPk891p   2017-06-21
2  fakemail123@yahoo.com  Uw4fArcv   2020-02-12

In [37]:
# we can also set an index from the data
pd.read_csv('./data/read_csv_example.csv', index_col=0)

                       password date-created
email
alice.chan@gmail.com   LBVIzqTj   2019-08-09
bwsmith1983@gmail.com  OnPk891p   2017-06-21
fakemail123@yahoo.com  Uw4fArcv   2020-02-12

In [38]:
# what if our data had no header?
with open('./data/read_csv_noheader_example.csv', 'w') as f:
    [f.write(line + '\n') for i, line in enumerate(csv) if i != 0]
    
!cat ./data/read_csv_noheader_example.csv

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [39]:
pd.read_csv('./data/read_csv_noheader_example.csv', names=['username', 'email', 'password', 'date-created'], header=None)

                username     email    password  date-created
0   alice.chan@gmail.com  LBVIzqTj  2019-08-09           NaN
1  bwsmith1983@gmail.com  OnPk891p  2017-06-21           NaN
2  fakemail123@yahoo.com  Uw4fArcv  2020-02-12           NaN

In [97]:
# what if our data was tab-delimited?
tsv = ['\t'.join(map(lambda x: str(x), row)) for row in np.vstack([df.columns, df])]
with open('./data/read_csv_example.tsv', 'w') as f:
    [f.write(line + '\n') for line in tsv]

!cat ./data/read_csv_example.tsv

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [41]:
pd.read_csv('./data/read_csv_example.tsv', delimiter='\t')

                   email  password date-created
0   alice.chan@gmail.com  LBVIzqTj   2019-08-09
1  bwsmith1983@gmail.com  OnPk891p   2017-06-21
2  fakemail123@yahoo.com  Uw4fArcv   2020-02-12

Even within a single file format, data can be arranged and formatted in many ways. These have been just a few examples of the kinds of arguments you might need to use with `read_csv` in order to read data into a DataFrame in an organized way.

## Filtering DataFrames

One of the powerful analytical tools of the Pandas DataFrame is its syntax for filtering data. Often we'll only want to work with a certain subset of our data based on some criteria. Let's look at our Yelp data for an example.

In [42]:
yelp_df.head()

NameError: name 'yelp_df' is not defined

We see the Yelp data set has a `'state'` column. If we are only interested in businesses in Arizona (AZ), we can filter the DataFrame and select only that data.

In [43]:
az_yelp_df = yelp_df[yelp_df['state'] == 'AZ']
az_yelp_df.head()

NameError: name 'yelp_df' is not defined

In [44]:
az_yelp_df['state'].unique()

NameError: name 'az_yelp_df' is not defined

We can combine criteria using logic. What if we're only interested in businesses with more than 10 reviews in Arizona?

In [45]:
yelp_df[(yelp_df['state'] == 'AZ') & (yelp_df['review_count'] > 10)].head()

NameError: name 'yelp_df' is not defined

How does this filtering work?

When we write `yelp_df['state'] == 'AZ'`, Pandas selects the `'state'` column and checks whether each row is `'AZ'`. If so, that row is marked `True`, and if not, it is marked `False`. This is how we would normally expect a conditional to work, only now applied to an entire Pandas `Series`. We end up with a Pandas `Series` of Boolean variables.

In [46]:
(yelp_df['state'] == 'AZ').head()

NameError: name 'yelp_df' is not defined

We can use a `Series` (or any similar object) of Boolean variables to index the DataFrame.

In [47]:
df

                           email  password date-created
username
alice36     alice.chan@gmail.com  LBVIzqTj   2019-08-09
bob_smith  bwsmith1983@gmail.com  OnPk891p   2017-06-21
eve        fakemail123@yahoo.com  Uw4fArcv   2020-02-12

In [48]:
df[[True, False, True]]

                          email  password date-created
username
alice36    alice.chan@gmail.com  LBVIzqTj   2019-08-09
eve       fakemail123@yahoo.com  Uw4fArcv   2020-02-12

This let's us filter a DataFrame using idiomatic logical expressions like `yelp_df['review_count'] > 10`.

As another example, let's consider the `'open'` column, which is a `True`/`False` flag for whether a business is open. This is also a Boolean Pandas `Series`, so we can just use it directly.

In [49]:
# the open businesses
yelp_df[yelp_df['open']].head()

NameError: name 'yelp_df' is not defined

In [50]:
# the closed businesses
yelp_df[~yelp_df['open']].head()

NameError: name 'yelp_df' is not defined

Notice in an earlier expression we wrote `(yelp_df['state'] == 'AZ') & (yelp_df['review_count'] > 10)`. Normally in Python we use the word `and` when we are working with logic. In Pandas we have to use _bit-wise_ logical operators; all that's important to know is the following equivalencies:

`~` = `not`  
`&` = `and`  
`|` = `or`  

We can also use Panda's built-in [string operations](https://pandas.pydata.org/pandas-docs/stable/text.html) for doing pattern matching. For example, there are a lot of businesses in Las Vegas in our data set. However, there are also businesses in 'Las Vegas East' and 'South Las Vegas'. To get all of the Las Vegas businesses I might do the following.

In [51]:
vegas_yelp_df = yelp_df[yelp_df['city'].str.contains('Vegas')]
vegas_yelp_df.head()

NameError: name 'yelp_df' is not defined

In [52]:
vegas_yelp_df['city'].unique()

NameError: name 'vegas_yelp_df' is not defined

## Applying functions and data aggregation

To analyze the data in the dataframe, we'll need to be able to apply functions to it. Pandas has many mathematical functions built in already, and DataFrames and Series can be passed to NumPy functions (since they behave like NumPy arrays).

In [53]:
log_review_count = np.log(yelp_df['review_count'])
print(log_review_count.head())
print(log_review_count.shape)

NameError: name 'yelp_df' is not defined

In [54]:
mean_review_count = yelp_df['review_count'].mean()
print(mean_review_count)

NameError: name 'yelp_df' is not defined

In the first example we took the _logarithm_ of the review count for each business. In the second case, we calculated the mean review count of all businesses. In the first case, we ended up with a number for each business. We _transformed_ the review counts using the logarithm. In the second case, we _summarized_ the review counts of all the businesses in one number. This summary is a form of _data aggregation_, in which we take many data points and combine them into some smaller representation. The functions we apply to our data sets will either be in the category of **transformations** or **aggregations**.

Sometimes we will need to transform our data in order for it to be usable. For instance, in the `'attributes'` column of our DataFrame, we have a `dict` for each business listing all of its properties. If I wanted to find a restaurant that offers delivery service, it would be difficult for me to filter the DataFrame, even though that information is in the `'attributes'` column. First, I need to transform the `dict` into something more useful.

In [55]:
def get_delivery_attr(attr_dict):
    return attr_dict.get('Delivery')

If we give this function a `dict` from the `'attributes'` column, it will look for the `'Delivery'` key. If it finds that key, it returns the value. If it doesn't find the key, it will return none.

In [56]:
print(get_delivery_attr(yelp_df.loc[0, 'attributes']))
print(get_delivery_attr(yelp_df.loc[1, 'attributes']))
print(get_delivery_attr(yelp_df.loc[2, 'attributes']))

NameError: name 'yelp_df' is not defined

We could iterate over the rows of `yelp_df['attributes']` to get all of the values, but there is a better way. DataFrames and Series have an `apply` method that allows us to apply our function to the entire data set at once, like we did earlier with `np.log`.

In [57]:
delivery_attr = yelp_df['attributes'].apply(get_delivery_attr)
delivery_attr.head()

NameError: name 'yelp_df' is not defined

We can make a new column in our DataFrame with this transformed (and useful) information.

In [58]:
yelp_df['delivery'] = delivery_attr

# to find businesses that deliver
yelp_df[yelp_df['delivery'].fillna(False)].head()

NameError: name 'delivery_attr' is not defined

It's less common (though possible) to use `apply` on an entire DataFrame rather than just one column. Since a DataFrame might contain many types of data, we won't usually want to apply the same transformation or aggregation across all of the columns.

## Data aggregation with `groupby`

Data aggregation is an [_overloaded_](https://en.wikipedia.org/wiki/Function_overloading) term. It refers to both data summarization (as above) but also to the combining of different data sets.

With our Yelp data, we might be interested in comparing the star ratings of businesses in different cities. We could calculate the mean star rating for each city, and this would allow us to easily compare them. First we would have to split up our data by city, calculate the mean for each city, and then combine it back at the end. This procedure is known as [split-apply-combine](https://pandas.pydata.org/pandas-docs/stable/groupby.html) and is a classic example of data aggregation (in the sense of both summarizing data and also combining different data sets).

We achieve the splitting and recombining using the `groupby` method.

In [59]:
stars_by_city = yelp_df.groupby('city')['stars'].mean()
stars_by_city.head()

NameError: name 'yelp_df' is not defined

We can also apply multiple functions at once. It might be helpful to know the standard deviation of star ratings, the total number of reviews, and the count of businesses as well.

In [60]:
agg_by_city = yelp_df.groupby('city').agg({'stars': ['mean', 'std'], 'review_count': 'sum', 'business_id': 'count'})
agg_by_city.head()

NameError: name 'yelp_df' is not defined

In [61]:
# unstacking the columns
new_columns = map(lambda x: '_'.join(x),
                  zip(agg_by_city.columns.get_level_values(0),
                      agg_by_city.columns.get_level_values(1)))
agg_by_city.columns = new_columns
agg_by_city.head()

NameError: name 'agg_by_city' is not defined

How does this work? What does `groupby` do? Let's start by inspecting the result of `groupby`.

In [62]:
by_city = yelp_df.groupby('city')
by_city

NameError: name 'yelp_df' is not defined

In [63]:
dir(by_city)

NameError: name 'by_city' is not defined

In [64]:
print(type(by_city.groups))
list(by_city.groups.items())[:5]

NameError: name 'by_city' is not defined

In [65]:
by_city.get_group('Anthem').head()

NameError: name 'by_city' is not defined

When we use `groupby` on a column, Pandas builds a `dict`, using the unique elements of the column as the keys and the index of the rows in each group as the values. This `dict` is stored in the `groups` attribute. Pandas can then use this `dict` to direct the application of aggregating functions over the different groups.

## Sorting

Even though the DataFrame in many ways behaves similarly to a `dict`, it also is ordered. Therefore we can sort the data in it. Pandas provides two sorting methods, `sort_values` and `sort_index`.

In [66]:
yelp_df.sort_values('stars').head()

NameError: name 'yelp_df' is not defined

In [67]:
yelp_df.set_index('business_id').sort_index().head()

NameError: name 'yelp_df' is not defined

Don't forget that most Pandas operations return a copy of the DataFrame, and do not update the DataFrame in place (unless we tell it to)!

## Joining data sets

Often we will want to augment one data set with data from another. For instance, businesses in big cities probably get more reviews than those in small cities. It could be useful to scale the review counts by the city's population. To do that, we'll need to add population data to the Yelp data. We can get population data from the US census.

In [108]:
census = pd.read_csv('./data/PEP_2016_PEPANNRES.csv', skiprows=[1])

census.head()

,GEO.id,GEO.id2,GEO.display-label,rescen42010,resbase42010,respop72010,respop72011,respop72012,respop72013,respop72014,respop72015,respop72016
0,0610000US0900104720,900104720,"Bethel town, Fairfield County, Connecticut",18584.0,18584,18642,18942,19150,19267,19316,19463,19627
1,0610000US0900108070,900108070,"Bridgeport town, Fairfield County, Connecticut",144229.0,144236,144912,146226,146962,147666,147560,147090,145936
2,0610000US0900108980,900108980,"Brookfield town, Fairfield County, Connecticut",16452.0,16452,16483,16635,16785,16859,17016,17087,17098
3,0610000US0900118500,900118500,"Danbury town, Fairfield County, Connecticut",80893.0,80903,81356,82182,82788,83678,83687,84236,84992
4,0610000US0900118850,900118850,"Darien town, Fairfield County, Connecticut",20732.0,20732,20777,20975,21127,21342,21641,21718,21744

In [106]:
# construct city & state fields
census['city'] = census['GEO.display-label'].apply(lambda x: x.split(', ')[0])
census['state'] = census['GEO.display-label'].apply(lambda x: x.split(', ')[2])

In [70]:
# convert state names to abbreviations

print(census['state'].unique())

['Connecticut' 'Illinois' 'Indiana' 'Kansas' 'Maine' 'Massachusetts'
 'Michigan' 'Minnesota' 'Missouri' 'Nebraska' 'New Hampshire' 'New Jersey'
 'New York' 'North Dakota' 'Ohio' 'Pennsylvania' 'Rhode Island'
 'South Dakota' 'Vermont' 'Wisconsin']

In [71]:
state_abbr = dict(zip(census['state'].unique(), ['CT', 'IL', 'IN', 'KS', 'ME', 'MA', 'MI', 'MN', 'MO', 'NE', 'NH', 'NJ', 'NY', 'ND', 'OH', 'PA', 'RI', 'SD', 'VT', 'WI']))

In [72]:
census['state'] = census['state'].replace(state_abbr)

In [73]:
# remove last word (e.g. 'city', 'town', township', 'borough', 'village') from city names

census['city'] = census['city'].apply(lambda x: ' '.join(x.split(' ')[:-1]))

In [74]:
merged_df = yelp_df.merge(census, on=['state', 'city'])
merged_df.head()

NameError: name 'yelp_df' is not defined

The `merge` function looks through the `'state'` and `'city'` columns of `yelp_df` and `census` and tries to match up rows that share values. When a match is found, the rows are combined. What happens when a match is not found? We can imagine four scenarios:  

1. We only keep rows from `yelp_df` and `census` if they match. Any rows from either table that have no match are discarded. This is called an _inner join_.  

2. We keep all rows from `yelp_df` and `census`, even if they have no match. In this case, when a row in `yelp_df` has no match in `census`, all the columns from `census` are merged in with null values. When a row in `census` has no match in `yelp_df`, all the columns from `yelp_df` are merged in with null values. This is called an _outer join_.

3. We privilege the `yelp_df` data. If a row in `yelp_df` has no match in `census`, we keep it and fill in the missing `census` columns as null values. If a row in `census` has no match in `yelp_df`, we discard it. This is called a _left join_.

4. We privilege the `census` data. This is called a _right join_.

The default behavior for Pandas is case #1, the _inner join_. This means if there are cities in `yelp_df` that we don't have matching `census` data for, they are dropped. Therefore, `merged_df` might be smaller than `yelp_df`.

In [75]:
print(yelp_df.shape)
print(merged_df.shape)

NameError: name 'yelp_df' is not defined

There are a lot of cities in `yelp_df` that aren't in `census`! We might want to keep these rows, but we don't need any census data where there are no businesses. Then we should use a _left join_.

In [76]:
merged_df = yelp_df.merge(census, on=['state', 'city'], how='left')
print(yelp_df.shape)
print(merged_df.shape)

NameError: name 'yelp_df' is not defined

Sometimes we don't need to merge together the columns of separate data sets, but just need to add more rows. For example, the New York City subway system [releases data about how many customers enter and exit the station each week](http://web.mta.info/developers/turnstile.html). Each weekly data set has the same columns, so if we want multiple weeks of data, we just have to append one week to another.

In [77]:
nov18 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_171118.txt')
nov11 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_171111.txt')

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [78]:
nov18.head()

NameError: name 'nov18' is not defined

In [79]:
nov11.head()

NameError: name 'nov11' is not defined

In [80]:
nov = pd.concat([nov18, nov11])
nov['DATE'].unique()

NameError: name 'nov18' is not defined

We can also use `concat` to perform inner and outer joins based on index. For example, we can perform some data aggregation and then join the results onto the original DataFrame.

In [81]:
city_counts = yelp_df.groupby('city')['business_id'].count().rename('city_counts')
city_counts.head()

NameError: name 'yelp_df' is not defined

In [82]:
pd.concat([yelp_df.set_index('city'), city_counts], axis=1, join='inner').reset_index().head()

NameError: name 'yelp_df' is not defined

Pandas provides [extensive documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) with diagrammed examples on different methods and approaches for joining data.

## Working with time series
Pandas has a well-designed backend for inferring dates and times from strings and doing meaningful computations with them.

In [83]:
pop_growth = pd.read_html('https://web.archive.org/web/20170127165708/https://www.census.gov/population/international/data/worldpop/table_population.php', attrs={'class': 'query_table'}, parse_dates=[0])[0]
pop_growth.dropna(inplace=True)
pop_growth.head()

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

By setting the `'Year'` column to the index, we can easily aggregate data by date using the `resample` method. The `resample` method allows us to decrease or increase the sampling frequency of our data. For instance, maybe instead of yearly data, we want to see average quantities for each decade.

In [84]:
pop_growth.set_index('Year', inplace=True)

NameError: name 'pop_growth' is not defined

In [85]:
pop_growth.resample('10AS').mean()

NameError: name 'pop_growth' is not defined

This kind of resampling is called _downsampling_, because we are decreasing the sampling frequency of the data. We can choose how to aggregate the data from each decade (e.g. `mean`). Options for aggregation include `mean`, `median`, `sum`, `last`, and `first`.

We can also _upsample_ data. In this case, we don't have data for each quarter, so we have to tell Pandas has to fill in the missing data.

In [86]:
pop_growth.resample('1Q').bfill().head()

NameError: name 'pop_growth' is not defined

In [87]:
pop_growth.resample('1Q').ffill().head()

NameError: name 'pop_growth' is not defined

Pandas' time series capabilities are built on the Pandas `Timestamp` class.

In [88]:
print(pd.Timestamp('January 8, 2017'))
print(pd.Timestamp('01/08/17 20:13'))
print(pd.Timestamp(1.4839*10**18))

2017-01-08 00:00:00
2017-01-08 20:13:00
2017-01-08 18:26:40

In [89]:
print(pd.Timestamp('Feb. 11 2016 2:30 am') - pd.Timestamp('2015-08-03 5:14 pm'))

191 days 09:16:00

In [90]:
from pandas.tseries.offsets import BDay, Day, BMonthEnd

print(pd.Timestamp('January 9, 2017') - Day(4))
print(pd.Timestamp('January 9, 2017') - BDay(4))
print(pd.Timestamp('January 9, 2017') + BMonthEnd(4))

2017-01-05 00:00:00
2017-01-03 00:00:00
2017-04-28 00:00:00

If we're entering time series data into a DataFrame it will often be useful to create a range of dates.

In [91]:
pd.date_range(start='1/8/2017', end='3/2/2017', freq='B')

DatetimeIndex(['2017-01-09', '2017-01-10', '2017-01-11', '2017-01-12',
               '2017-01-13', '2017-01-16', '2017-01-17', '2017-01-18',
               '2017-01-19', '2017-01-20', '2017-01-23', '2017-01-24',
               '2017-01-25', '2017-01-26', '2017-01-27', '2017-01-30',
               '2017-01-31', '2017-02-01', '2017-02-02', '2017-02-03',
               '2017-02-06', '2017-02-07', '2017-02-08', '2017-02-09',
               '2017-02-10', '2017-02-13', '2017-02-14', '2017-02-15',
               '2017-02-16', '2017-02-17', '2017-02-20', '2017-02-21',
               '2017-02-22', '2017-02-23', '2017-02-24', '2017-02-27',
               '2017-02-28', '2017-03-01', '2017-03-02'],
              dtype='datetime64[ns]', freq='B')

The `Timestamp` class is compatible with Python's `datetime` module.

In [92]:
import datetime

pd.Timestamp('May 1, 2017') - datetime.datetime(2017, 1, 8)

Timedelta('113 days 00:00:00')

## Visualizing data with Pandas

Visualizing a data set is an important first step in drawing insights. We can easily pass data from Pandas to Matplotlib for visualizations, but Pandas also plugs into Matplotlib directly through methods like `plot` and `hist`.

In [93]:
yelp_df['review_count'].apply(np.log).hist(bins=30)

NameError: name 'yelp_df' is not defined

In [94]:
pop_growth['Annual Growth Rate (%)'].plot()

NameError: name 'pop_growth' is not defined

The [plotting functions take many parameters](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html) for customizing the appearance of the output. Since they are essentially a wrapper around the Matplotlib functions, they also accept many of the Matplotlib parameters, not all of which are listed in the Pandas documentation. Pandas provides [a guide](https://pandas.pydata.org/pandas-docs/stable/visualization.html) to making various plots from DataFrames.

*Copyright &copy; 2020 The Data Incubator.  All rights reserved.*